{% extends "base.html" %}

{% block title %}
Editor
{% endblock %}

{% block head %}
<script src="/static/js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css" media="screen">
.file { 
    border: solid 3px #ccc;
    margin-bottom: 10px;
}
.file-meta { 
    border-bottom: 3px;
    padding: 10px 0;
    margin: 0;
    background: #333;
}
.file-editor { 
    margin: 0;
    height: 280px;
}
.file-editor-textarea {
    display: none;
}
</style>
{% endblock %}

{% macro file_editor() -%}
<div class="file">
    <div class="file-meta row">
        <div class="col-lg-4">
            <input type="text" placeholder="input this file name." class="file-name form-control">
        </div>
    </div>
    <textarea class="file-editor-textarea"></textarea>
    <div class="file-editor row"></div>
</div>
{%- endmacro %}

{% block body %}
{% if not filelist %}
<h1>New Note</h1>
{% else %}
<h1>Edit Note</h1>
{% endif %}

<form method="post">
<div id="list-files">
{% if not filelist %}
    {{ file_editor() }}
{% else %}
    {% for file in filelist %}
        {{ file_editor() }}
    {% endfor %}
{% endif %}
</div>

<script type="text/html" id="new-editor">
{{ file_editor() }}
</script>

<script>
function newFile(type) {
    switch(type) {
    case 'editor':
        var file = $($('#new-editor').html().replace(/(^|>)[\s|\t|\n]+(<|$)/g, '$1$2'));
        initFileEditor(file);
        return file;
    default:
    }
}

function initFileEditor(element) {
    element = $(element);

    if(!element.hasClass('file'))
        return;

    var name = element.find('.file-name');

    var editor_textarea = element.find('.file-editor-textarea');
    var editor = element.find('.file-editor')[0];
    editor = ace.edit(editor);
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");

    // Sync editor and textarea.
    editor_textarea.val(editor.getSession().getValue());
    editor.getSession().on('change', function(){
        console.log(editor_textarea.val());
        editor_textarea.val(editor.getSession().getValue());
    });

    // Sync editor and textarea.
    editor_textarea.attr('name', 'gitnote/' + name.val())
    name.bind("change paste keyup", function() {
        editor_textarea.attr('name', 'gitnote/' + name.val())
    });

    return element;
}

$('#list-files').children().each(function(){initFileEditor(this)});
</script>

<div id="buttons" style="overflow: hidden;">
    <div style="float: left;">
      <button type="button" class="btn btn-default" onclick="$('#list-files').append(newFile('editor'))">Add Another File</button>
    </div>

    <div style="text-align: right;">
      <button type="submit" class="btn btn-primary" style="float: right;">Create Gitnote</button>
    </div>
</div>
</form>
{% endblock %}

